<div class="row ">
  <div class="column">
    <!-- Main information, edit it on theme/_config.yml -->
    <h4 class="mb-2"><%= theme.owner %></h4>
    <p><%= theme.info %></p>
    <p><%= theme.desc %></p>
  </div>
</div>

<h5>Recent Posts</h5>

<% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
<div class="row">

  <div class="three columns left lit">
    <p class="bottom"><%- full_date(post.date, 'll') %></p>
  </div>
  <div class="nine columns left mb-3">
    <a href="<%- url_for(post.path) %>" class="">
      <% if (post.title == "") { %>
        no title
      <% } else { %>
        <%- post.title %>
      <% } %>
    </a>
  </div>
</div>
<% }) %>

<h6> <a href="<%= config.root %>archives">See All Posts</a></h6>
